 {{#if title}}

<div class="photo_card">
  <div class="photo_info">
    <p>{{title}} - {{link}}</p>
  </div>
  <div class="photo_photo">
    <img src="{{link}}">
  </div>
  <div class="photo_desc">
    <p>{{description}}</p>
  </div>
</div>

{{else}}
<h3>This photo doesn't exist</h3>
{{/if}}


<form action='/gallery/{{id}}/edit' method='get'>
  <button type='submit'>Edit photo</button>
</form>

<form action='/gallery/{{id}}' method='POST' enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="DELETE">
  <button type='submit'>Delete photo</button>
</form>
{{#each errors}}
<h3>{{message}}</h3>
{{/each}} {{!-- {{>indexButtons}} --}}