<ol>
  {{#if title}}
  <ul>
    <div>
      <h3>{{title}}</h2>
        <h4>by {{author_username}} @ {{link}}</h3>
    </div>
    <img src="{{link}}" height="320" width="540">
    </div>
    <div>
      <p>{{description}}</p>
    </div>

  </ul>
  {{else}}
  <h3>This photo doesn't exist</h3>
  {{/if}}
</ol>

<form action='/gallery/{{id}}/edit' method='get'>
  <button type='submit'>Edit photo</button>
</form>

<form action='/gallery/{{id}}' method='POST' enctype="application/x-www-form-urlencoded">
<input type="hidden" name="_method" value="DELETE">
<button type='submit'>Delete photo</button>
</form>
{{#each errors}}
<h3>{{message}}</h3>
{{/each}} {{!-- {{>indexButtons}} --}}