<h1>{{author_username}}</h1>
<ol>
  {{#if photos}} {{#each photos}}
  <li>

    <div></div><img src="{{this.attributes.link}}" height="240" width="320">
      <a href="/photos/{{this.attributes.id}}"></a>
    </div>
    <div>
      <p>{{this.attributes.description}}</p>
    </div>

  </li>
  {{/each}} {{else}}
  <h3>There are currently no photos.</h3>
  {{/if}}
</ol>
{{!-- <form action='/photos/new' method='get'>
  <button type='submit'>Add a new photo</button>
</form> --}}
{{#each errors}}
<h3>{{message}}</h3>
{{/each}} 
{{!-- {{>indexButtons}} --}}