<div id="gallery_body">
  <div id="secondary_header">
    {{#if username}}
    <div id="username">logged in as: {{username}}</div>
    <div id="new_pic">
      <a href="http://localhost:3005/gallery/new" id="post_button">post a picture</a>
    </div>
    <br>
    <div id="logout">
      <a href="http://localhost:3005/logout" id="logout_button">logout</a>
    </div>
    {{/if}}
    <div id="side_messages">{{message}}</div>
  </div>
  {{#if registration}}
  <div id="auth_body">
    <div id="home_register">
      <a href="http://localhost:3005/register" class="home_register">register</a>
    </div>
    <br>
    <br>
    <div id="home_login">
      <a href="http://localhost:3005/login" class="home_login">login</a>
    </div>
  </div>
  {{/if}}
  <div id="pictures">
    <div class="image_div">
      <a href="http://localhost:3005/gallery/{{firstpic.id}}">
        <img src="{{firstpic.attributes.link}}" alt="image" id="first_image" height="733" width="1100">
      </a>
    </div>
    <a href="http://localhost:3005/users/{{firstpic.attributes.author}}">
      <div class="author_div">@{{firstpic.attributes.author}}</div>
    </a>
    <div class="description_div">{{firstpic.attributes.title}}</div>
    <div id="picture_grid">
      {{#each gallery}}
      <div class="cards">
        <div class="card_image">
          <a href="http://localhost:3005/gallery/{{this.id}}">
            <img src="{{this.attributes.link}}" alt="image" height="333" width="500">
          </a>
          <a href="http://localhost:3005/users/{{this.attributes.author}}">
            <div class="card_author">@{{this.attributes.author}}</div>
          </a>
          <div class="card_desc">{{this.attributes.title}}</div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>