<div id="sidebar">
  <div id="back">
    <a href="http://localhost:3005/gallery/{{photo.id}}" id="id_back"> back </a>
  </div>
  <br>
  <div id="messages">{{message}}</div>
</div>
<h1 id="normal_header">add to gallery</h1>
<form action="/gallery" enctype="application/x-www-form-urlencoded" method="POST">
  <h1 class="header_input">title:
    <br>
    <input type="text" name="title" class="simple_line" value="{{photo.title}}">
  </h1>
  <h1 class="header_input">link:
    <br>
    <input type="url" name="link" class="simple_line" value="{{photo.link}}">
  </h1>
  <h1 class="header_input">description:
    <br>
    <textarea name="description" id="description">{{photo.description}}</textarea>
  </h1>
  <input type="submit" value="post" id="post_button">
  <br>
  <div id="back">
    <a href="http://localhost:3005/gallery" id="back_button"> back </a>
  </div>
</form>